[Unit]
Description=Schedule Cheldrama bot data updates

[Timer]
OnCalendar=*-*-* 00,06,12,18:15:00 UTC
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
